@import "variables.scss";

@mixin fullSize{
  width: 100%;
  height: 100%;
}

:host{
  display: block;
  @include fullSize;
}

.todo-list{
  @include fullSize;
  padding: 24px $basic-side-padding;
  @media (max-width: 1040px) {
    padding: 24px;
  }
}

.table-container{
  box-shadow: 0px 10px 18px $main-color-2;
  .table-title{
    background-color: $main-color;
    font-weight: 700;
    padding-left: 20px;
    display: flex;
    align-items: center;
    height: 52px;
    border: 1px solid $main-color-2;
  }
  .table{
    padding: 0 20px 20px 20px;
  }
}

.mat-table{
  overflow: auto;
  table-layout: fixed !important;
  width: 90%;
}

.title{
  &_text{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

$icon-col-width: 6%;
$icon-cols-amount: 2;
$time-col-width: 16%;
$time-cols-amount: 2;
$checkbox-col-width: 56px;
$cols-cmount: 6;

.mat-column-title{
  white-space: nowrap;
  // width: calc(100% - (($icon-col-width * $icon-cols-amount) + ($time-col-width * $time-cols-amount) + $checkbox-col-width));
  // max-width: calc(100% - (($icon-col-width * $icon-cols-amount) + ($time-col-width * $time-cols-amount) + $checkbox-col-width));
  padding-right: 0px;
}

.mat-column-checkbox{
  max-width: 56px !important;
  width: 56px;
  padding-right: 0px;
}

.mat-column-createdAt, .mat-column-deadline{
  width: 16%;
}

.mat-column-isFavorite, .mat-column-delete{
  width: 6%;
  text-overflow: clip;
  @media (max-width: 1140px){
    padding-left: 4px;
  }
}

.cdk-column-deadline, .cdk-column-createdAt{
  text-align: center;
}

.cdk-column-title{
  font-size: 1.1em;
}

.action.icon{
  cursor: pointer;
  transition-duration: .2s;
  &:hover{
     color: red !important;
  }
}
