<div class="todo-list" *ngLet="listType$ | async as lType">
  <ng-container [ngSwitch]="lType">
    <ng-container *ngSwitchCase="listTypes.all">
      <div class="table-container" *ngIf="expiringTodos$ | async as todoList" [hidden]="!todoList.length">
        <ng-container [ngTemplateOutlet]="tableTitle" [ngTemplateOutletContext]="{ text: 'Today TODO`s'}"></ng-container>
        <ng-container [ngTemplateOutlet]="todoTable" [ngTemplateOutletContext]="{ todoList, tType: tableType.expiration }"></ng-container>
      </div>
      <div class="table-container" *ngIf="exeptExpiringTodos$ | async as todoList" [hidden]="!todoList.length">
        <ng-container [ngTemplateOutlet]="tableTitle" [ngTemplateOutletContext]="{ text: 'My Todo List'}"></ng-container>
        <ng-container [ngTemplateOutlet]="todoTable" [ngTemplateOutletContext]="{ todoList, tType: tableType.notExpiration }"></ng-container>
      </div>
    </ng-container>
    <ng-container *ngSwitchCase="listTypes.favourite">
      <div class="table-container" *ngIf="favouriteTodos$ | async as todoList" [hidden]="!todoList.length">
        <ng-container [ngTemplateOutlet]="tableTitle" [ngTemplateOutletContext]="{ text: 'Favourite Todos'}"></ng-container>
        <ng-container [ngTemplateOutlet]="todoTable" [ngTemplateOutletContext]="{ todoList, tType: tableType.notExpiration }"></ng-container>
      </div>
    </ng-container>
  </ng-container>
</div>

<ng-template #todoTable let-todoList="todoList" let-tType="tType">
  <div class="table">
    <table mat-table [dataSource]="todoList" class="mat-elevation-z8 mat-table no-shadow with-border-row">

      <!-- Checkbox Column -->
      <ng-container matColumnDef="checkbox">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let todo">
          <mat-checkbox
            (change)="check(todo)"
            [matTooltip]="'Mark for check'"
            [disabled]="deletePending.has(todo.id)"
          ></mat-checkbox>
        </td>
      </ng-container>

      <!-- Title Column -->
      <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let todo">
          <span [matTooltip]="todo.title">{{todo.title}}</span>
        </td>
      </ng-container>

      <!-- Created Column -->
      <ng-container matColumnDef="createdAt">
        <th mat-header-cell *matHeaderCellDef> Created At </th>
        <td mat-cell *matCellDef="let todo"> {{todo.createdAt | date }} </td>
      </ng-container>

      <!-- Deadline Column -->
      <ng-container matColumnDef="deadline" *ngLet="tType === tableType.expiration as isExp">
        <th mat-header-cell *matHeaderCellDef>{{isExp ? 'Time left' : 'Expiration'}} </th>
        <td mat-cell *matCellDef="let todo">
          <ng-container *ngIf="isExp; else timeLeftTemp">
            <span
              *ngLet="todo.id | getTime | async as timeLeft"
              [ngClass]="{alarmed: timeLeft.isExpires}"
            >{{timeLeft.timeString}}</span>
          </ng-container>
          <ng-template #timeLeftTemp>
            {{todo.deadline | date}}
          </ng-template>
        </td>
      </ng-container>

      <!-- Is Fovourite Column -->
      <ng-container matColumnDef="isFavorite">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let todo">
          <mat-icon
            *ngLet="favourPending.get(todo.id) as isfavour"
            (click)="switchFavourStatus(todo)"
            class="action icon favour"
            [ngClass]="{active: isfavour, unactive: !isfavour}"
            [ngStyle]="{color: isfavour ? 'red' : 'black'}"
          >favorite</mat-icon>
        </td>
      </ng-container>

      <!-- Delete Column -->
      <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let todo">
          <mat-icon (click)="deleteTodo(todo)" class="action icon delete" [ngClass]="{disabled: deletePending.has(todo.id)}">cancel</mat-icon>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr class="todo-row" mat-row *matRowDef="let row; columns: displayedColumns;" [ngStyle]="{display: removed.has(row.id) && 'block'}" [ngClass]="{'deleting': removed.has(row.id)}"></tr>

    </table>
  </div>
</ng-template>


<ng-template #tableTitle let-text="text">
  <div class="table-title">{{text}}</div>
</ng-template>
