<div class="add-form">
  <ng-container [ngTemplateOutlet]="header"></ng-container>
  <ng-container [ngTemplateOutlet]="backButton"></ng-container>
  @for (field of inputFields; track $index) {
    <ng-container [ngSwitch]="field.inputType">
      <ng-container *ngSwitchCase="'textarea'" [ngTemplateOutlet]="textField" [ngTemplateOutletContext]="{inputField: field, control: creationForm.get(field.name)}">
      </ng-container>
      <ng-container *ngSwitchCase="'date'" [ngTemplateOutlet]="dateField" [ngTemplateOutletContext]="{inputField: field, control: creationForm.get(field.name)}">
      </ng-container>
      <ng-container *ngSwitchCase="'time'" [ngTemplateOutlet]="timeField" [ngTemplateOutletContext]="{inputField: field, control: creationForm.get(field.name)}">
      </ng-container>
    </ng-container>
  }
  <ng-container [ngTemplateOutlet]="buttonBar">
  </ng-container>
</div>

<ng-template #header>
  <div class="header">
    Create ToDo
  </div>
</ng-template>

<ng-template #textField let-inputField="inputField" let-control="control">
  <div class="input-field text">
      <mat-form-field appearance="outline">
        <mat-label>{{inputField.label || ''}}</mat-label>
        <textarea matInput [formControl]="control"></textarea>
        <mat-error class="error">{{control | getErrMess | async}}</mat-error>
      </mat-form-field>
  </div>
</ng-template>

<ng-template #timeField let-inputField="inputField" let-control="control">
  <div class="input-field date">
    <mat-form-field>
      <mat-label>{{inputField.label || ''}}</mat-label>
      <input
        autocomplete="off"
        matInput [ngxTimepicker]="picker"
        [formControl]="control"
        [format]="24"
        [min]="minDate$ | async"
        readonly
      >
      <button mat-icon-button matIconSuffix (click)="picker.open()">
        <mat-icon>access_time</mat-icon>
      </button>
      <mat-error class="error">{{control | getErrMess | async}}</mat-error>
    </mat-form-field>
    <ngx-material-timepicker #picker></ngx-material-timepicker>
  </div>
</ng-template>

<ng-template #dateField let-inputField="inputField" let-control="control">
  <div class="input-field date">
    <mat-form-field>
      <mat-label>{{inputField.label || ''}}</mat-label>
      <input
        autocomplete="off"
        matInput
        [formControl]="control"
        [matDatepicker]="datepicker"
        (click)="datepicker.open()"
        [min]="today$ | async"
        readonly
      >
      <mat-datepicker-toggle matIconSuffix [for]="datepicker"></mat-datepicker-toggle>
      <mat-datepicker #datepicker></mat-datepicker>
      <mat-error class="error">{{control | getErrMess | async}}</mat-error>
    </mat-form-field>
  </div>
</ng-template>


<ng-template #buttonBar>
  <div class="button-bar">
    <button class="button create" mat-raised-button (click)="save()" [disabled]="disableSaveButton$ | async">Create</button>
    <button class="button cancel" mat-raised-button (click)="reset()">Cancel</button>
  </div>
</ng-template>


<ng-template #backButton>
    <button class="button back" mat-icon-button (click)="back()">
      <mat-icon>keyboard_return</mat-icon>
    </button>
</ng-template>
